
<div class="grid grid-nogutter surface-section">
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
      <section>
        <div>
          <span class="title">Bienvenido a <br><span class="titleSecond"> Cornway</span></span><br>
        </div><br>
          <p class="mt-0 mb-4 text-700 line-height-3">¡Descubre el emocionante mundo del Maíz y únete a la aventura en nuestra página web para gestionar tus cultivos!
          </p>

          <p-button class="button" label="Iniciar Sesión" [raised]="true" severity="success" (click)="goLoginPage()"/>
          <p-button class="button" label="Registrarse" [raised]="true" severity="secondary" (click)="goRegisterPage()"/>
      </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
      <img src="../../assets/img/cornway.jpeg" alt="Image" class="md:ml-auto block md:h-full" style=" height: 850px; width: 850px; clip-path: polygon(15% 0, 100% 0%, 100% 100%, 0 100%)">
  </div>
</div>
