
<div class="grid grid-nogutter surface-section text-800">
  <div class="image col-12 md:col-6 overflow-hidden">
    <img src="../../assets/img/maiz2.jpeg" alt="Image" class="img" style="width: 100%">
  </div>
  <div class="text-center md:text-left flex align-items-center ">
    <form (ngSubmit)="onLogin()">
      <div style="text-align: center;">
        <label class="text">Iniciar Sesion</label><br>
      </div>
      <div>
        <label class="Subtitle" for="email">Email</label><br>
        <input class="input" type="email" id="email" [(ngModel)]="Correo" name="email" required>
      </div>
      <div>
        <label class="Subtitle" for="password">Password</label><br>
        <input class="input" type="password" id="password" [(ngModel)]="Clave" name="password" required><br>
      </div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
</div>
