
<div class="grid grid-nogutter surface-section text-800">
  <div class="image col-12 md:col-6 overflow-hidden">
    <h1 class="texto text-center" style="margin-top: 20px;">Bienvenido a <br> Cornway Fields</h1>
    <img src="../../assets/img/maiz.png" alt="Image" class="img">
  </div>
  <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
    <form (ngSubmit)="onLogin()">
      <div style="text-align: center;">
        <label class="text">Iniciar Sesion</label><br>
      </div>
      <div>
        <label class="Subtitle" for="email">Email</label><br>
        <input class="input" type="email" id="email" [(ngModel)]="Correo" name="email" required>
      </div>
      <div>
        <label class="Subtitle" for="password">Password</label><br>
        <input class="input" type="password" id="password" [(ngModel)]="Clave" name="password" required><br>
      </div>
      <button class="button" type="submit">Login</button>
    </form>
  </div>
</div>
