.title{
  text-align: center ;
}

.texto{
  font-size: 45px;
  font-weight: 300;
  color: #007F5F;
  text-align: center;
  font-family: "Potta One", system-ui;
}

.text{
  font-size: 45px;
  font-weight: 300;
  color: #007F5F;
  text-align: center;
  font-family: "Potta One", system-ui;
  margin-bottom: 20px;
  margin-left: 50px;
  text-shadow: 8px 5px 8px #ccc;
}

.Subtitle{
  font-size: 18px;
  font-weight: 100;
  color: #444444;
  text-align: center;
  font-family: "Potta One", system-ui;
  margin-left: 60px;
  margin-bottom: 5px;
}

.input{
  width: 650px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.img{
  margin-left: 50px;
  width: 700px;
  height: 730px;
}



.email{
    width: 550px;
    height:40px;
    border-radius: 50px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.password{
  width: 550px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}


.button{
  width: 250px;
  height: 45px;
  border-radius: 50px;
  background-color: #007F5F;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-top: 20px;
  border: none;
  box-shadow: 5px 5px 4px #ccc;
  margin-left: 250px;
  font-family: "Potta One", system-ui;
  font-weight: 100;
}

.alertDiv{
  position: absolute;
  left: 900px;
}

.alert {
  width: 500px;
  display: none;
  padding: 10px;
  background-color: #f44336;
  color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.alert svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
  margin-right: 5px;
}
