
<!-- CARDS CULTIVOS  -->
<h1 class="title">Mis Cosechas</h1>
<div class="d-flex flex-wrap" style="margin-left: 20px">

  <div class="card" *ngFor="let cose of cosechas">
    <p-card header="Cosechas de {{ cose.cultivo.tiposCultivo.nombre}}" [style]="{ width: '380px', height: '180px', }">
      <label>Cantidad: {{ cose.cantidad }} m²</label><br>
      <label>Fecha Inicio: {{ cose.fecha }}</label>
      <ng-template pTemplate="">
        <div class="icons flex gap-3 mt-1">
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Editar Cultivo</h4>
                <button type="icon-button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">

              <form>

                  <div class="form-container">
                    <form (ngSubmit)="UpdateCosecha()">
                      <div>
                        <label class="titles" for="Nombres">Tipo Cosecha</label> <br>
                        <input class="inputname" type="number" id="Nombres" [(ngModel)]="Nombre" name="Nombres" required> <br>
                      </div>
                      <div class="form-group">
                        <label class="titles" for="idTipoCultivo">Cantidad</label> <br>
                        <input class="inputnumber" type="number" id="idTipoCultivo" [(ngModel)]="IdTipoCultivo" name="idTipoCultivo" required> <br>
                      </div>
                      <div class="form-group">
                        <label class="titles" for="area">Fecha de Inicio</label> <br>
                        <input class="inputarea" type="date" id="area" [(ngModel)]="Area" name="area" required> <br>
                      </div>
                      <button class="buttonsubmit" type="submit">Editar</button>
                    </form>
                  </div>
              </form>
              </div>
            </ng-template>
          <button class="Minibutton iconbutton" (click)="open(content)"><i class="pi pi-pencil"></i></button>
          <button class="Minibutton iconbutton" (click)="actualizar()"><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
    </p-card>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nueva Cosecha</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>

        <div class="form-container">
          <form (ngSubmit)="CreateCosecha()">
            <div>
              <label class="titles" for="Nombres">Id Cultivo Para Asignar</label><br>
              <input class="inputname" type="number" id="IdCultivo" [(ngModel)]="IdCultivo" name="IdCultivo" required><br>
            </div>
            <div class="form-group">
              <label class="titles" for="Cantidad">Cantidad en m²</label> <br>
              <input class="inputnumber" type="number" id="Cantidad" [(ngModel)]="Cantidad" name="Cantidad" required> <br>
            </div>
            <div class="form-group">
              <label class="titles" for="Fecha">Fecha</label> <br>
              <input class="inputarea" type="date" id="Fecha" [(ngModel)]="Fecha" name="Fecha" required> <br>
            </div>
            <button class="buttonsubmit" type="submit">Agregar</button>
          </form>
        </div>

      </form>
    </div>
  </ng-template>
  <button class="btn btn-lg btn-add" (click)="open(content)">Añadir Cosecha</button>
  <hr />
</div>
