
<div class="grid grid-nogutter surface-section text-800">
  <div class="image col-12 md:col-6 overflow-hidden">
    <img src="../../assets/img/maiz2.jpeg" alt="Image" class="img">
  </div>
  <div class="text-center md:text-left flex align-items-center ">
    <form (ngSubmit)="register()">

      <div style="text-align: center;">
        <label class="text">Registrarse</label><br>
      </div>

      <div>
        <label class="Subtitle" for="Nombres">Nombres</label><br>
        <input class="input" type="text" id="Nombres" [(ngModel)]="Nombres" name="Nombres" required>
      </div>
      <div>
        <label class="Subtitle" for="Apellidos">Apellidos</label><br>
        <input class="input" type="text" id="Apellidos" [(ngModel)]="Apellidos" name="Apellidos" required>
      </div>
      <div>
        <label class="Subtitle" for="Correo">Correo</label> <br>
        <input class="input" type="email" id="Correo" [(ngModel)]="Correo" name="Correo" required>
      </div>
      <div>
        <label class="Subtitle" for="Clave">Clave</label> <br>
        <input class="input" type="password" id="Clave" [(ngModel)]="Clave" name="Clave" required>
      </div>
      <div>
        <label class="Subtitle" for="IdTipoUsuario">Tipo de Usuario</label> <br>
        <input class="input" type="number" min="1" id="IdTipoUsuario" [(ngModel)]="IdTipoUsuario" name="IdTipoUsuario" required>
      </div>
      <button class="button" type="submit">Registrar</button>
    </form>

  </div>

</div>
