.texto{
  font-size: 45px;
  font-weight: 300;
  color: #007F5F;
  text-align: center;
  font-family: "Potta One", system-ui;
}

.text{
  font-size: 45px;
  font-weight: 300;
  color: #007F5F;
  text-align: center;
  font-family: "Potta One", system-ui;
  margin-bottom: 20px;
  margin-left: 50px;
  text-shadow: 8px 5px 8px #ccc;
}

.Subtitle{
  font-size: 18px;
  font-weight: 100;
  color: #444444;
  text-align: center;
  font-family: "Potta One", system-ui;
  margin-left: 50px;
  margin-bottom: 5px;
}

.input{
  width: 650px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
}

.button{
  width: 170px;
  height: 40px;
  border-radius: 50px;
  background-color: #007F5F;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-left: 40px;
  margin-top: 20px;
  border: none;
  box-shadow: 5px 5px 4px #ccc;
  margin-left: 280px;
  font-family: "Potta One", system-ui;
  font-weight: 100;
}

img{
  margin-left: 50px;
  width: 700px;
  height: 730px;
}


.email{
    width: 550px;
    height:40px;
    border-radius: 50px;
    border: 1px solid #007F5F;
    padding: 10px;
    margin-bottom: 10px;
}

.password{
  width: 550px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #007F5F;
  padding: 10px;
  margin-bottom: 10px;
}

.jugador{
  width: 120px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #007F5F;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  box-shadow: 5px 5px 5px #ccc;
  text-align: center;
}

.agricultor{
  width: 120px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #007F5F;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  box-shadow: 5px 5px 5px #ccc;
  text-align: center;
}

:host ::ng-deep .p-dropdown{
  width: 550px;
  height:40px;
  border-radius: 50px;
  border: 1px solid #007F5F;
}
