
<!-- CARDS GESTION DE CULTIVOS -->
<h1 class="title">Gestión de Cultivos</h1>
<div class="d-flex flex-wrap" style="margin-left: 20px">

  <div class="card" *ngFor="let gesti of gestiones">
    <p-card header="Cultivo {{ gesti.IdCultivo }}" [style]="{ width: '380px', height: '180px', }">
      <label>Tipo Gestion Cultivo: {{ gesti.IdTipoGestionCultivo }}</label><br>
      <label>Id Insumo: {{ gesti.IdInsumoGestionCultivo }}</label>
      <label>Fecha: {{ gesti.FechaGestion }}</label>
      <label>Comentario: {{ gesti.Comentario }}</label>
      <ng-template pTemplate="">
        <div class="icons flex gap-3 mt-1">
          <button>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Editar Cultivo</h4>
                <button type="icon-button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">

              <form>

                  <div class="form-container">
                    <h2>Editar Cultivo</h2>
                    <form (ngSubmit)="UpdateCultivo()">
                      <div>
                        <label class="titles" for="Nombres">Nombre Para Cultivo</label>
                        <input class="inputname" type="text" id="Nombres" [(ngModel)]="IdCultivo" name="Nombres" required>
                      </div>
                      <div class="form-group">
                        <label class="titles" for="idTipoCultivo">Id Tipo Cultivo</label>
                        <input class="inputnumber" type="number" id="idTipoCultivo" [(ngModel)]="IdCultivo" name="idTipoCultivo" required>
                      </div>
                      <div class="form-group">
                        <label class="titles" for="area">Área</label>
                        <input class="inputarea" type="text" id="area" [(ngModel)]="IdCultivo" name="area" required>
                      </div>
                      <button class="buttonsubmit" type="submit">Editar</button>
                    </form>
                  </div>
              </form>
              </div>
            </ng-template>
          </button>
          <button class="Minibutton iconbutton" (click)="open(content)"><i class="pi pi-pencil"></i></button>
          <button class="Minibutton iconbutton"><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
    </p-card>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nueva Gestión</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>

        <div class="form-container">
          <h2>Agregar Cultivo</h2>
          <form (ngSubmit)="CreateGestionCultivo()">
            <div>
              <label class="titles" for="Nombres">Id Cultivo</label>
              <input class="inputname" type="number" id="IdCultivo" [(ngModel)]="IdCultivo" name="IdCultivo" required>
            </div>
            <div class="form-group">
              <label class="titles" for="idTipoCultivo">Id Tipo Gestion Cultivo</label>
              <input class="inputnumber" type="number" id="IdTipoGestionCultivo" [(ngModel)]="IdTipoGestionCultivo" name="IdTipoGestionCultivo" required>
            </div>
            <div class="form-group">
              <label class="titles" for="area">Id Insumo Gestion Cultivo</label>
              <input class="inputarea" type="text" id="IdInsumoGestionCultivo" [(ngModel)]="IdInsumoGestionCultivo" name="IdInsumoGestionCultivo" required>
            </div>
            <div class="form-group">
              <label class="titles" for="area">Fecha Gestión</label>
              <input class="inputarea" type="date" id="FechaGestion" [(ngModel)]="FechaGestion" name="FechaGestion" required>
            </div>
            <div class="form-group">
              <label class="titles" for="area">Comentario</label>
              <input class="inputarea" type="text" id="Comentario" [(ngModel)]="Comentario" name="Comentario" required>
            </div>
            <button class="buttonsubmit" type="submit">Agregar</button>
          </form>
        </div>

      </form>
    </div>
  </ng-template>
  <button class="btn btn-lg" style="height: 50px; width: 200px; border: 1px solid #007F5F; margin-left: 550px; box-shadow: 3px 3px 1px #ccc;" (click)="open(content)">Añadir Gestión</button>
  <hr />
</div>
