
<!-- CARDS CULTIVOS  -->
<h1 class="title">Mis Cultivos</h1>
<div class="d-flex flex-wrap" style="margin-left: 20px">

  <div class="card" *ngFor="let cultivo of cultivos">
    <p-card header="Cultivo {{ cultivo.idCultivo }}" [style]="{ width: '380px', height: '210px', }">
      <label>{{ cultivo.nombre }}</label><br>
      <label>Tipo de Cultivo: {{ cultivo.idTipoCultivo }}</label><br>
      <label>Area: {{ cultivo.area }}</label>
      <ng-template pTemplate="">
        <div class="icons flex gap-3 mt-1">
          <button>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Editar Cultivo</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form>

                  <div class="mb-3">
                    <label for="dateOfBirth">Nombre del Cultivo</label>
                    <div class="input-group">
                      <input
                        id="cultivo"
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>

                  <div class="mb-3">
                    <label for="tipo">Tipo de Cultivo</label><br>
                    <p-dropdown
                    class="dropdown"
                    [options]=""
                    optionLabel="name"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="area">Area</label>
                    <div class="input-group">
                      <input
                        id="area"
                        class="form-control"
                        type="text"
                      />
                    </div>
                  </div>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Editar</button>
              </div>
            </ng-template>
            <button class="" style="border: none;" (click)="open(content)"><i class="pi pi-pencil"></i></button>
          </button>
          <button (click)="deleteCultivo(cultivo.id)"><i class="pi pi-times" ></i></button>
        </div>
    </ng-template>
    </p-card>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Cultivo</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>

        <div class="form-container">
          <h2>Agregar Cultivo</h2>
          <form (ngSubmit)="CreateCultivo()">
            <div>
              <label for="IdUsuario">Id Usuario a Asignar</label>
              <input type="text" id="IdUsuario" [(ngModel)]="IdUsuario" name="IdUsuario" required>
            </div>
            <div>
              <label for="Nombres">Nombres</label>
              <input type="text" id="Nombres" [(ngModel)]="Nombre" name="Nombres" required>
            </div>
            <div class="form-group">
              <label for="idTipoCultivo">Id Tipo Cultivo</label>
              <input type="number" id="idTipoCultivo" [(ngModel)]="IdTipoCultivo" name="idTipoCultivo" required>
            </div>
            <div class="form-group">
              <label for="area">Área</label>
              <input type="text" id="area" [(ngModel)]="Area" name="area" required>
            </div>
            <button type="submit" (click)="CreateCultivo()">Agregar</button>
          </form>
        </div>

      </form>
    </div>
  </ng-template>
  <button class="btn btn-lg" style=" height: 50px; width: 200px; border: 1px solid #007F5F; margin-left: 550px;" (click)="open(content)">Añadir Cultivo</button>
  <hr />
</div>

<!-- CARDS GESTION DE CULTIVOS -->

<h1 class="title" style="margin-top: 50px;">Gestion de Cultivos</h1>
<div class="d-flex flex-wrap" style="margin-left: 20px">

  <div class="card" *ngFor="let cultivo of cultivos">
    <p-card header="Cultivo {{ cultivo.idCultivo }}" [style]="{ width: '1200px', height: '210px', }">
      <label>{{ cultivo.nombre }}</label><br>
      <label>Tipo de Cultivo: {{ cultivo.idTipoCultivo }}</label><br>
      <label>Area: {{ cultivo.area }}</label>
      <ng-template pTemplate="">
        <div class="icons flex gap-3 mt-1">
          <button>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Editar Cultivo</h4>
                <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">
                <form>

                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Editar</button>
              </div>
            </ng-template>
            <button class="" style="border: none;" (click)="open(content)"><i class="pi pi-pencil"></i></button>
          </button>
          <button (click)="deleteCultivo(cultivo.id)"><i class="pi pi-times" ></i></button>
        </div>
    </ng-template>
    </p-card>
  </div>


  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Cultivo</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>

        <form (ngSubmit)="updateGestion()">
          <div>
            <label for="IdGestionCultivo">ID de la Gestión:</label>
            <input type="number" id="IdGestionCultivo" name="IdGestionCultivo" [(ngModel)]="IdGestionCultivo" required>
          </div>
          <div>
            <label for="IdCultivo">ID del Cultivo:</label>
            <input type="number" id="IdCultivo" name="IdCultivo" [(ngModel)]="IdCultivo" required>
          </div>
          <div>
            <label for="IdTipoGestionCultivo">ID del Tipo de Gestión:</label>
            <input type="number" id="IdTipoGestionCultivo" name="IdTipoGestionCultivo" [(ngModel)]="IdTipoGestionCultivo" required>
          </div>
          <div>
            <label for="IdInsumoGestionCultivo">ID del Insumo de Gestión:</label>
            <input type="number" id="IdInsumoGestionCultivo" name="IdInsumoGestionCultivo" [(ngModel)]="IdInsumoGestionCultivo" required>
          </div>
          <div>
            <label for="FechaGestion">Fecha de Gestión:</label>
            <input type="date" id="FechaGestion" name="FechaGestion" [(ngModel)]="FechaGestion" required>
          </div>
          <div>
            <label for="Comentario">Comentario:</label>
            <textarea id="Comentario" name="Comentario" [(ngModel)]="Comentario" required></textarea>
          </div>
          <button type="submit">Actualizar Gestión</button>
        </form>
      </form>
    </div>
  </ng-template>
  <button class="btn btn-lg" style=" height: 50px; width: 200px; border: 1px solid #007F5F; margin-left: 550px;" (click)="open(content)">Añadir Gestion</button>
  <hr />
</div>











