<h1 class="title">Mis Cultivos</h1>

<div class="d-flex flex-wrap">

  <p-card header="Cultivo Id" [style]="{ width: '380px' }">
    <label>Nombre</label><br>
    <label>Tipo de Cultivo</label><br>
    <label>Area</label>
    <ng-template pTemplate="footer">
        <div class="icons flex gap-3 mt-1">
          <button><i class="pi pi-pencil"></i></button>
          <button><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Cultivo Id" [style]="{ width: '380px' }">
    <label>Nombre</label><br>
    <label>Tipo de Cultivo</label><br>
    <label>Area</label>
    <ng-template pTemplate="footer">
        <div class="icons flex gap-3 mt-1">
          <button><i class="pi pi-pencil"></i></button>
          <button><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Cultivo Id" [style]="{ width: '380px' }">
    <label>Nombre</label><br>
    <label>Tipo de Cultivo</label><br>
    <label>Area</label>
    <ng-template pTemplate="footer">
        <div class="icons flex gap-3 mt-1">
          <button><i class="pi pi-pencil"></i></button>
          <button><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
  </p-card>

  <p-card header="Cultivo Id" [style]="{ width: '380px' }">
    <label>Nombre</label><br>
    <label>Tipo de Cultivo</label><br>
    <label>Area</label>
    <ng-template pTemplate="footer">
        <div class="icons flex gap-3 mt-1">
          <button><i class="pi pi-pencil"></i></button>
          <button><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
  </p-card>
</div>

<div class="d-flex justify-content-center">
  <button  type="button" class="btn btn-primary" style="margin: 10px; background-color: #ffffff; border: 1px solid #007F5F ; width: 200px; height: 60px; font-size: 18px; color: black; font-weight: 500;">Añadir Cultivo</button>
  <button  type="button" class="btn btn-primary" style="margin: 10px; background-color: #007F5F; border: none; width: 200px; height: 60px; font-size: 18px;">Gestionar Cultivos</button>

</div>


