.title{
  font-size: 36px;
  font-family: "Pridi", serif;
  font-weight: 400;
  color: #007F5F ;
  text-align: center;
}

.titleCultive{
  font-size: 36px;
  font-family: "Pridi", serif;
  font-weight: 400;
  color: #007F5F ;
  text-align: center;
  margin-top: 50px ;
}


.icons{
  justify-content: right;
}

.card{
  font-size: 50px;
  margin: 25px;
  border-radius: 5px;
  border: 1px solid #007F5F;
  label{
    font-size: 20px;
  }

button{
  background-color: transparent;
  border: none;
}
.btn{
  margin: 10px;
  padding: 20px;
  text-align: center;
}


}
