
<!-- CARDS CULTIVOS  -->
<h1 class="title">Mis Cultivos</h1>
<div class="d-flex flex-wrap" style="margin-left: 20px">

  <div class="card" *ngFor="let cultivo of cultivos">
    <p-card header="Cultivo {{ cultivo.nombre }}" [style]="{ width: '380px', height: '180px', }">
      <label>Tipo de Cultivo: {{ cultivo.idTipoCultivo }}</label><br>
      <label>Area: {{ cultivo.area }}</label>
      <ng-template pTemplate="">
        <div class="icons flex gap-3 mt-1">
            <ng-template #content let-modal>
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Editar Cultivo</h4>
                <button type="icon-button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
              </div>
              <div class="modal-body">

              <form>

                  <div class="form-container">
                    <h2>Editar Cultivo</h2>
                    <form (ngSubmit)="UpdateCultivo()">
                      <div>
                        <label class="titles" for="Nombres">Nombre Para Cultivo</label>
                        <input class="inputname" type="text" id="Nombres" [(ngModel)]="Nombre" name="Nombres" required>
                      </div>
                      <div class="form-group">
                        <label class="titles" for="idTipoCultivo">Id Tipo Cultivo</label>
                        <input class="inputnumber" type="number" id="idTipoCultivo" [(ngModel)]="IdTipoCultivo" name="idTipoCultivo" required>
                      </div>
                      <div class="form-group">
                        <label class="titles" for="area">Área</label>
                        <input class="inputarea" type="text" id="area" [(ngModel)]="Area" name="area" required>
                      </div>
                      <button class="buttonsubmit" type="submit">Editar</button>
                    </form>
                  </div>
              </form>
              </div>
            </ng-template>
          <button class="Minibutton iconbutton" (click)="open(content)"><i class="pi pi-pencil"></i></button>
          <button class="Minibutton iconbutton"><i class="pi pi-times"></i></button>
        </div>
    </ng-template>
    </p-card>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nuevo Cultivo</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>

        <div class="form-container">
          <h2>Agregar Cultivo</h2>
          <form (ngSubmit)="CreateCultivo()">
            <div>
              <label class="titles" for="Nombres">Nombre Para Cultivo</label>
              <input class="inputname" type="text" id="Nombres" [(ngModel)]="Nombre" name="Nombres" required>
            </div>
            <div class="form-group">
              <label class="titles" for="idTipoCultivo">Id Tipo Cultivo</label>
              <input class="inputnumber" type="number" id="idTipoCultivo" [(ngModel)]="IdTipoCultivo" name="idTipoCultivo" required>
            </div>
            <div class="form-group">
              <label class="titles" for="area">Área</label>
              <input class="inputarea" type="text" id="area" [(ngModel)]="Area" name="area" required>
            </div>
            <button class="buttonsubmit" type="submit">Agregar</button>
          </form>
        </div>

      </form>
    </div>
  </ng-template>
  <button class="btn btn-lg" style="margin-bottom: 30px ;height: 50px; width: 200px; border: 1px solid #007F5F; margin-left: 550px; box-shadow: 3px 3px 1px #ccc;" (click)="open(content)">Añadir Cultivo</button>
  <hr />
</div>










